include README.md
include LICENSE
include requirements.txt
recursive-include docpixie *.py
include docpixie/py.typed
recursive-include docs *.md
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude tests *
recursive-exclude documents *
recursive-exclude docpixie_data *